/* You can add global styles to this file, and also import other style files */
body{
    color:#5b605b;
}
h1,h2,h3,h4,h5,h6{
    color:#55c2b3;
}

.nab-bar,.footer{
    background-color:black;
    color:white;
    padding: 15px 0px;
}

.footer{
    height: 70px;
    margin: 0px
}
.nab-bar a{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

.btn-primary{
    color:white;
    background-color: #55c2b3;
    border-color:#55c2b3;
}
.btn-primary:hover {
    color: #55c2b3;
    background-color:white;
    border-color: #55c2b3;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #55c2b3;
    border-color: #55c2b3;
}

.fa, .fas {
    font-weight: 900;
    color: #5b605b;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #8298af;
    border-color:#8298af;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}

.categories{
    text-align: center;
}

.categories h4{
    margin-top: 10px;
    
}

.padding-lg-y{
    padding-top: 80px;
    padding-bottom: 80px;
}

.page-item.active .page-link{
    z-index: 1;
    color: #fff;
    background-color: #55c2b3;
    border-color: #55c2b3;
}
.page-link{
    color:#5b605b;
}
.margin-top-lg{
    margin-top: 100px
}

.banner{
    height: 400px;
    background-image: url("assets/images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(85, 194, 179, 0.9);
    border-bottom: 2px solid rgb(0, 0, 0);
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.btn-secondary {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}
.fas{
    cursor: pointer;
}