<div class="container">
  <div class="col-12 col-md-10 m-auto py-5">


    <div class="card">
      <div class="card-header">
        All Orders
      </div>
      <div class="card-body">
        <table class="table my-5">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Order Id</th>
              <th scope="col">Order Client Id</th>
              <th scope="col">Order Total</th>
              <th scope="col">Details</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of allOrders; index as i">
              <th scope="row">{{i+1}}</th>
              <td>{{item.id}}</td>
              <td>{{item.userId}}</td>
              <td>{{item.orderTotal}}</td>
              <td>  <button class="btn btn btn-secondary ml-auto">Details</button></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>