<ngb-carousel>
    <ng-template ngbSlide>
      <img src="assets/images/01.1.jpg" alt="Random first slide">
      <div class="carousel-caption">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/images/02.1.jpg" alt="Random second slide">
      <div class="carousel-caption">
        <!-- <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/images/03.1.jpg" alt="Random third slide">
      <div class="carousel-caption">
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="container">
      <div class="welcome text-center mt-5 ">
          <h2 class=" mb-3 text-uppercase">Welcome to our shop</h2>
          <div>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
            unknown printer took a galley of type and scrambled it to make a type specimen book. is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
            unknown printer took a galley of type and scrambled it to make a type specimen book is simply dummy text of the printing and typesetting industry. .</div>
      </div>
      <div class="text-center mt-5 uppercase">
          <h3 class=" mb-5 text-uppercase">Featured Categories</h3>
   <div class="row mt-4 categories mb-5">
     <div class="col">
      <img src="assets/images/cathegorie1-harness.jpg" class="img-fluid" alt="harness image">
      <h4>Harness</h4>
     </div>
     <div class="col">
      <img src="assets/images/cathegorie2-toys.jpg" class="img-fluid" alt="toys image">
      <h4>Toys</h4>
     </div>
     <div class="col">
      <img src="assets/images/cathegorie3-clothes.jpg" class="img-fluid" alt="clothes image">
      <h4>Clothes</h4>
     </div>
     <div class="col">
      <img src="assets/images/cathegorie4-accesories.jpg" class="img-fluid" alt="accesories image">
      <h4>Accesories</h4>
     </div>
   </div>
      </div>
  </div>
  
  