<ngb-carousel>
    <ng-template ngbSlide>
      <img src="assets/images/01.1.jpg" alt="Random first slide">
      <div class="carousel-caption">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/images/02.1.jpg" alt="Random second slide">
      <div class="carousel-caption">
        <!-- <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/images/03.1.jpg" alt="Random third slide">
      <div class="carousel-caption">
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="container">
      <div class="welcome text-center margin-top-lg">
          <h2 class=" mb-3 text-uppercase ">Welcome to our shop</h2>
          <div class="my-5">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
            unknown printer took a galley of type and scrambled it to make a type specimen book. is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
            unknown printer took a galley of type and scrambled it to make a type specimen book is simply dummy text of the printing and typesetting industry.unknown printer took a galley of type and scrambled it to make a type specimen book is simply dummy text of the printing and typesetting industry. 
            unknown printer took a galley of type and scrambled it to make a type specimen book is simply dummy text of the printing </div>
      </div>
      <app-feature-categories></app-feature-categories>
  </div>
  
  