<div class="container">
    <div class="col-12 col-md-8 m-auto">
        <div class="card mt-5">
            <div class="card-header">
                Add Product
            </div>
    
            <div class="card-body">
                <form (ngSubmit)="save(addProductForm)" novalidate  #addProductForm="ngForm">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Product Name</label>
                      <div class="col-sm-8">
                        <input type="text"  class="form-control" 
                        required
                        name="productname"
                        [(ngModel)]=newProduct.productName
                        #productNameVar="ngModel" 
                        [ngClass]="{'is-invalid':(productNameVar.touched||productNameVar.dirty) && !productNameVar.valid}"/>
                        <span class="invalid-feedback">
                            <span *ngIf="productNameVar.errors?.required" >
                                This field is required
                              </span>
                        </span>
                        <p>{{productNameVar.value}}</p>
                        
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Product Price</label>
                      <div class="col-sm-8">
                        <input type="text"  class="form-control" 
                        required
                        name="productPrice"
                        [(ngModel)]=newProduct.productPrice
                        #productPriceVar="ngModel" 
                        [ngClass]="{'is-invalid':(productPriceVar.touched||productPriceVar.dirty) && !productPriceVar.valid}">
                        <span *ngIf="productPriceVar.errors?.required" class="invalid-feedback">
                            This field is required
                          </span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Product Image</label>
                      <div class="col-sm-8">
                        <input type="text"  class="form-control" 
                        required
                        name="productImgUrl"
                        [(ngModel)]=newProduct.productImgUrl
                        #productImgUrlVar="ngModel" 
                        [ngClass]="{'is-invalid':(productImgUrlVar.touched||productImgUrlVar.dirty) && !productImgUrlVar.valid}">
                        <span *ngIf="productImgUrlVar.errors?.required" class="invalid-feedback">
                            This field is required
                          </span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Product description</label>
                      <div class="col-sm-8">
                        <textarea class="form-control" rows="4"
                        required
                        name="productDescription"
                        [(ngModel)]=newProduct.productDescription
                        #productDescriptionVar="ngModel" 
                        [ngClass]="{'is-invalid':(productDescriptionVar.touched||productDescriptionVar.dirty) && !productDescriptionVar.valid}"
                        ></textarea>
                        <span *ngIf="productDescriptionVar.errors?.required" class="invalid-feedback">
                            This field is required
                          </span>
                      </div>
                    </div>
                    <button type="submit" class="btn btn btn-secondary ml-auto" [disabled]="!addProductForm.valid">Add Product</button>
            </form>
            </div>
    </div>
    
     
</div>
