<div class="text-center mt-5 uppercase">
    <h3 class=" mb-4 text-uppercase margin-top-lg">Featured Categories</h3>
<div class="row mt-4 categories mb-5">
<div class="col">
<img src="assets/images/cathegorie1-harness.jpg" class="img-fluid" alt="harness image">
<h4>Harness</h4>
</div>
<div class="col">
<img src="assets/images/cathegorie2-toys.jpg" class="img-fluid" alt="toys image">
<h4>Toys</h4>
</div>
<div class="col">
<img src="assets/images/cathegorie3-clothes.jpg" class="img-fluid" alt="clothes image">
<h4>Clothes</h4>
</div>
<div class="col">
<img src="assets/images/cathegorie4-accesories.jpg" class="img-fluid" alt="accesories image">
<h4>Accesories</h4>
</div>
</div>
</div>
