<div class="container">
  <div class="col-12 col-md-8 m-auto padding-lg-y ">
    <div class="card mt-5">
      <div class="card-header">
        Pay-order component
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-12 col-lg-6">
            <img src="assets/images/monkey.jpg" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-12 col-lg-6 funny-msg">Sorry the component is under construction, but in the meantime you can think about adopting another baby, cute animal</div>

        </div>


      </div>