<div class="container">
  <div class="col-12 col-md-10 m-auto py-5">
    <div class="card">
      <div class="card-header">
        Your shopping cart
      </div>

      <div class="card-body">
        <table class="table table-striped text-center">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"> Name</th>
              <th scope="col"> Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of currentOrder.orderedItems; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{item.productName}}</td>
              <td> <input type="number" class="form-control" id="item-quantity"
                  required 
                  #productQuantity="ngModel"
                  [(ngModel)]="item.productQuantity" 
                  name="quantity" 
                  (change)="totalPrice()"
                  [ngClass]="{'is-invalid':(productQuantity.touched||productQuantity.dirty) && !productQuantity.valid}"></td>
              <td>Price {{item.productPrice}}</td>
              <td><i class="far fa-trash-alt fa-lg" (click)="deleteItem(item.productId)"></i></td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex align-items-center">
         <div class="product-price">Total Price {{currentOrder.orderTotal}} RON </div>
        </div>

      </div>
    </div>


  </div>