<div class="container margin-top-lg" *ngIf="product">
  <h3 class="text-center mb-3 ">Product details</h3>
  <div class="operations mb-3">
      <button type="button" class="btn btn-primary" (click)="deleteProduct()">Delete</button>
      <button type="button" class="btn btn-primary ml-3" [routerLink]="['/products',product.id,'edit']">Update</button>
  </div>
  <div class="row" >
    
    <div class="col-12 col-md-4 ">
        <img [src]="product.productImgUrl" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-12 col-md-7">
      <div class="product-name mb-3">{{product.productName}}</div>
      <div class="d-flex justify-content-between align-items-center mb-3">
          <div class="product-price">{{product.productPrice}} RON </div>
          <div class="product-availability">Available</div>
      </div>
      <div class="size mb-3">
        <div>Size</div>
        <div class="box-item d-flex">
          <div>S</div>
          <div>M</div>
          <div>L</div>
          <div>XL</div>
        </div>
      </div>
      <div class="color mb-3">
          <div>Color</div>
          <div class="box-item d-flex">
            <div class="red"></div>
            <div class="black"></div>
            <div class="blue"></div>
            <div class="yellow"></div>
          </div>
        </div>
        <div class="cart mb-3">
            <button type="button" class="btn btn-primary cart-btn">ADD TO CART</button>
            <button type="button" class="btn btn-primary cart-wish ml-3"><i class="far fa-heart fa-2x"></i></button>
            
        </div>
        <div class="description">
          {{product.productDescription}}
        </div>
    </div>
 
  </div>
  <app-feature-categories></app-feature-categories>
</div>
